
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url(img/neon-circles-hi-tech-dark-background-loop-5k-8k-2560x1440-8312.png) no-repeat;
  background-position-x: center;
  background-position-y: -90px;
  background-size: 2000px;
}
.page1{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.container {
  margin-top: 7%;
  width: 50%;
  text-align: center;
}
.title{
  margin-bottom: 20px;
  background-color: rgba(14, 14, 14, 0.859);
  padding: 20px;
  width:  80%;
  margin-left: 10%;
  color: white;
  border-style: solid;
  border-color: rgb(244, 244, 206);
  box-shadow: 0 0 10px rgb(244, 244, 206);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.textContainer{
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom:20px ;
}

.textBox{
  padding:10px 40px;
  text-align: center;
  border-radius: 100px;
  margin-left: 5%;
  background-color: rgb(61, 57, 57);
  color: white;
  border-style: none;
  box-shadow: 0 0 10px lightblue;
}

.inputBtn{
  margin-left: 3%;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  font-size: 20px;
  color: white;
  background-color: rgba(86, 84, 84, 0.467);
  border-style: none;
  box-shadow: 0 0 10px lightblue;
}
.inputBtn:hover{
  opacity: 0.7;
  cursor: pointer;
}
.todoContainer{
  height: 500px;
  background-color: rgba(20, 20, 20, 0.967);
  position: relative;
  border-style: solid;
  border-right-color: lightcoral;
  border-left-color: rgb(148, 135, 250);
  box-shadow: 0 0 10px rgba(215, 215, 215, 0.621);
}

.newTodo{
  background-color: rgba(152, 150, 150, 0.598);
  border-radius: 10px;
  margin: 0px 100px ;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
}

.delleteBtn{
  position: absolute;
  right: 50px;
  font-size: 20px;
  color: white;
  background-color: rgba(20, 20, 20, 0.967);
  transition: .2s;
  border-style: none;
}
.delleteBtn:hover{
  font-size: 25px;
  opacity: 0.7;
  right: 48px;
  cursor: pointer;
}

@media (max-width : 768px){
  .title{
    margin-bottom: 20px;
    background-color: rgba(14, 14, 14, 0.859);
    border-style: solid;
    border-color: rgb(244, 244, 206);
    box-shadow: 0 0 10px rgb(244, 244, 206);
    border-radius: 10px;
    width: 163%;
    margin-left: -30%;
    font-family: 'Poppins', sans-serif;
  }
  .textBox{
    text-align: center;
    border-radius: 100px;
    background-color: rgb(61, 57, 57);
    color: white;
    border-style: none;
    width: 163%;
    box-shadow: 0 0 10px lightblue;
  }
  .inputBtn{
    margin-left: 3%;
    text-align: center;
    border-radius: 100px;
    font-size: 20px;
    position: absolute;
    right: 7%;
    color: white;
    background-color: rgba(86, 84, 84, 0.467);
    border-style: none;
    box-shadow: 0 0 10px lightblue;
  }
  
  .todoContainer{
    margin-left: -30%;
    width: 163%;
    height: 500px;
    background-color: rgba(20, 20, 20, 0.967);
    border-style: solid;
    border-right-color: lightcoral;
    border-left-color: rgb(148, 135, 250);
    box-shadow: 0 0 10px rgba(215, 215, 215, 0.621);
  }
}